@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);

/* ==========================================================================
	General Styles
========================================================================== */
a {
  color: #e84545; }

a:hover, a:focus {
  text-decoration: none;
  -moz-transition: background-color, color, 0.3s;
  -o-transition: background-color, color, 0.3s;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s; }

body {
 background: url(../images/3.jpg) no-repeat fixed center ;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	color: #6c7279;
	margin-top: auto;
	margin-left: auto;
  background-size: cover;
}

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.section {
  padding: 100px 0; }

.no-padding {
  padding: 0; }

.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

/* ==========================================================================
	$Header
========================================================================== */
#header {
	position: fixed;
	width: 100%;
	z-index: 999;
	margin-top: -32px;
}
  #header .header-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
    max-width: 1170px;
    padding: 40px 0;
    width: 100%;
    -moz-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s; }
  #header .logo {
	top: -165px;
     }

#header.fixed {
  background-color: #292c47; }
  #header.fixed .header-content {
    border-bottom: 0;
    padding: 25px 0; }
  #header.fixed .nav-toggle {
    top: 18px; }

.navigation.open {
  opacity: 0.9;
  visibility: visible;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.navigation {
	float: right;
	margin-top: 61px;
}
  .navigation li {
    display: inline-block; }
  .navigation a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px;
    font-weight: 700;
    margin-left: 40px;
    text-transform: uppercase; }
    .navigation a:hover, .navigation a.active {
      color: #fff; }


/* ==========================================================================
	$Banner
========================================================================== */
.banner {
  background-image: url(../images/banner.jpg);

  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
   }

.banner-text {
  padding-top: 25%; }
  .banner-text h1 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  .banner-text p {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px; }


    #custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
.form-control {

  height: 50px;

}
.row {
		width:1800px;
    margin-top: 300px;
    margin-left:  150px;
}
.col-sm-6{


  min-height: 100px;
  padding-right: 0px;
  padding-left: 0px;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon glyphicon-search:before {
  content: "\e003";
}
